body {
  
  /* display: flex;
  align-items: center; 
  justify-content: center;
  ココセットで使うよ
 
  /* background: linear-gradient(to bottom, white, black); */

  /* font-family: 'Ropa Sans', sans-serif; */
  font-family: 'helvetica', sans-serif;
  /* display: inline !important; */
  
  /* height: 100%; */
  /* width:100%; */
  overflow-x: hidden;
  overflow-y :scroll;
  /* overflow-x: scroll; */
  /* width: 100%; */

  align-items: center;
  justify-content: center;
  width: 100%;


 
 /* background-image: url(./photos/mb2.png);
background-position: center center;  */


/* background-repeat: no-repeat; */
/* background-repeat: repeat;
 
/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
/* background-attachment: fixed; */
/* scroll */
 
/* 表示するコンテナの大きさに基づいて、背景画像を調整 
background-size: auto 100%;
画像が表示される前の背景
background-color: black;
 */

 } 

header{

 display:flex !important;
 position:fixed;
  top:0;
  left:0;
  width: 100%; 
  height: 50px;
  padding: 5px;
  background: black;
  /* background: transparent; */
  z-index: 2;
 /* justify-content: center; */
  /* align-items: center; */
  /* ?????? */
  /* position: relative; */
  /* top: 0px; */
  /* background:rgb(237, 59, 10,10); */
  /* z-index: 2; */ 
  /* 重なりの順序 */
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); */
}




.cap5 {
  /* top:0; */
  font-size: 30px;
  margin-right:20%;
  margin-left:10%;
  margin-top:0;
  margin-bottom: 0;
  /* text-align: center; */
  /* background:transparent;   */
  min-width: 100px;
 
}

.nav{
  padding: 10px;
  min-width: 300px;
  /* background-color: red; */
}
.menu-item {
  list-style: none;
  background: transparent;
  margin-right: 20px;
  display: inline;
  
}



.insta{
  background:transparent;
  color:black;
  text-align: center;
  /* width: 50%; */
  margin:  0 0 0 auto;
  /* 上下右左 */
  height: 30px;
  width: 50px;
  min-width: 50px;
  filter: invert();

}
  
a.concept{
  font-size: 10px;
}

.concept{
   margin-top: 10%;
  margin-bottom: 0;
  margin-right:auto;
  margin-left:auto; 
  /* height: 60%; */
  /* background: rebeccapurple; */
  width: 30%;  
  text-align: center;

}
.skill{
  margin-top: 5%;
 margin-bottom: 0;
 margin-right:25%; 
 margin-left:25%;
 /* height: 60%; */
 /* background: rebeccapurple; */
 /* width: 30%;   */
 /* display: flex; */
}
.photo{
  /* margin-right: auto; */
  /* margin-left: 50%; */
  /* justify-content: center; */
  width: 100%;
 
}


/*-----  SP  ---- */
@media screen and (max-width: 760px) {
  /* 768pxまでの幅の場合に適応される */


  header{
    display: flex!important;;
    position:fixed;
    top:0;
    left:0;
    width: 100%; 
    padding: 5px;
    /* background:transparent; */
    background: rgb(236, 236, 236);
    height: auto;
    z-index: 2;
    padding-bottom:0 !important;
   }


   
   #nav1{
     margin-right: 0;
     /* margin-left: auto; */
     /* background: green; */
     background: transparent;
     color:white;
   }
   .cap5 {
    font-size: 30px;
    /* margin-left:10%; */
    /* background:red;   */
    /* color:white!important; */
    
  }

  .menu-item{
    list-style: none;
    background: transparent;
    /* margin-right: 0; */
    /* padding-left:0 ; */
    text-align: right;
    display: block;
    margin-top: 20px;
  }

  .navbar-toggler{
    filter:invert();
  }

  .insta{
    display:none;
   }

  img.logo{
    position: absolute;
    width: 20%;
    top: 30%;
    /* height: 20%; */
    margin-right:40%;
    margin-left:40%;
    /* background-color: red; */
    filter: invert();
  }
 img.main{
  position: absolute;
  width: 90%;
  top: 30%;

  /* height: 20%; */
  margin-right:5%;
  margin-left:5%;
  /* background-color: red; */
  /* filter: invert(); */
 }

  body{
    min-width: initial;
    margin-top: 0;
  }
  a.concept{
    font-size: 2px;
  }
  .concept{
    margin-top: 150px;
    margin-bottom: 0;
    margin-right:auto;
    margin-left:auto; 
    /* height: 60%; */
    /* background: rebeccapurple; */
    width: 80%;  
    text-align: center;
  
  }
  #all{

    margin-top: 10px;
    display: block;
  }

  .tate{
    display: none;
  }
    

}