body {
  
  /* display: flex; */
 /* display:block; */
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to bottom, white, black); */
  /* font-family: 'Ropa Sans', sans-serif; */
  font-family: 'helvetica', sans-serif;
  display: block;
  

  /* height: 100%; */
  /* width:100%; */
  /* overflow: auto; */
  overflow-y: scroll;
    /* overflow: hidden; */

    width: 100%;
    /* background: blue; */
   
    margin-top: auto;
    margin-bottom: auto;
    /* margin-right:20%;
    margin-left:20%; */
    /* background-color:  white; */

} 

header{
  display:flex !important;
  position:fixed;
  top:0;
  left:0;
  width: 100%; 
  height: 50px;
  padding: 5px;
  background: transparent;
  z-index: 2;
}


header a {

  font-size: 30px;
  margin-right:20%;
  margin-left:10%;
  margin-top:4px;
  margin-bottom: 0;
  min-width: 100px;
  text-decoration: none;
  /* color:black; */
  color:rgb(2, 99, 164);
}


.member{
  margin-top: 0;
 margin-bottom: 0;
 margin-right:auto;
 margin-left:auto; 
 /* height: 60%; */
 /* background: rebeccapurple; */
 width: 30%;  
}
.background{
  margin-top: 0;
 margin-bottom: 0;
 margin-right:auto;
 margin-left:auto; 
 /* height: 60%; */
 /* background: rebeccapurple; */
 width: 30%;  
}

#all{
  margin-top: 3%;
  display: flex;
  /* background: blueviolet; */
  /* object-fit: cover;  */
}


.rane1{
  /* background: red; */
  width: 50%;
  margin-right: 15%;
  margin-left: 45%;
}

/* .rane2{
  width: 25%;
  margin-right: 0;
  margin-left: 0;
} */
.photo{
  /* margin-top: 20px; */
  /* width: 800px; */
  width:100%;
  transition-duration: 1s;
  /* opacity: 0.1; */
  /* margin-top: 40%; */
}

/*-----  SP  ---- */
@media screen and (max-width: 760px) {
  /* 768pxまでの幅の場合に適応される */

  body{
    min-width: initial;
    margin-top: 6%;
  }
  #all{
    display: inline;
  }

  .rane1{
    /* background: red; */
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }




}  